### Imports
importFrom("stats", cor, dexp, dgamma, ecdf, optim, optimize, pexp, pgamma, rexp, runif, var)


### Exports
export(dgumbel)
export(pgumbel)
export(rgumbel)
export(phigumbel)
export(invphigumbel)
export(gumbel.MBE, gumbel.EML, gumbel.IFM, gumbel.CML)